html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, ::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

h2 {
  color: #333;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

p {
  color: #666;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

section {
  padding: 2em 0;
  text-align: center;
}

.btn {
  display: inline-block;
  border-color: #333;
  text-decoration: none;
  border-radius: 4px;
  padding: .4em .75em .5rem;
  border-width: 3px;
  border-style: solid;
  color: #333;
}

.btn:hover {
  color: #666;
}

body {
  margin: 0;
}
