html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, ::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

h2 {
  color: #333;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
